<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSFML" version="2.5.0" targetFramework="net472" />
  <package id="KeraLua" version="1.0.22" targetFramework="net472" />
  <package id="M3U.NET" version="1.0.0.3" targetFramework="net472" />
  <package id="NAudio" version="1.9.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NLua" version="1.4.25" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="SFML.Audio" version="2.5.0" targetFramework="net472" />
  <package id="SFML.Graphics" version="2.5.0" targetFramework="net472" />
  <package id="SFML.Net" version="2.5.0" targetFramework="net472" />
  <package id="SFML.System" version="2.5.0" targetFramework="net472" />
  <package id="SFML.Window" version="2.5.0" targetFramework="net472" />
</packages>